.courses-box {
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.course-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.course-list-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 200px;
    margin: 20px 20px; 
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    box-shadow: 2px 2px 16px 0px rgba(209, 209, 209, 0.75);
    transition: 300ms ease-in-out;
    overflow: hidden;
}

.course-list-item:hover{
    cursor: pointer;
    box-shadow: 5px 5px 36px 0px rgba(119, 119, 119, 0.75);
    /* box-shadow: 0px 0px 26px 0px rgba(45, 128, 224, 0.75); */
}

.course-list-item p {
    font-size: 15px;
    color: rgb(56, 56, 56);
}

.title-box{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.title-box .edit-link{
    height: 60px;
    box-sizing: border-box;
    padding: 10px 15px;
    position: relative;
}

.title-box .edit-link a{
    position: absolute;
    left: -10px;
    padding: 10px;
    color: rgb(157, 183, 233);
    z-index: 100;
}

.title-box .edit-link a:visited{
    color: rgb(157, 183, 233);
}

.title-box .edit-link a:hover{
    color: rgb(0, 51, 146);
}

#title-container {
    height: 60px;
    max-height: 60px;
    max-width: 270px;
    text-overflow: ellipsis;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 10px 15px;
    white-space : normal;
}

.course-list-item #description-container {
    width: 300px;
    height: 140px;
    text-align: left;
    white-space : normal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-list-item #description-container .desc-back{
    width: 300px;
    height: inherit;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -300px;
    bottom: 0px;
    background: rgba(223, 223, 223, 0.8);
    transition: 200ms ease-in-out;
}

.course-list a:hover{
    background-color: white;
}

.form label{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.form textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    width: 230px;
    margin-bottom: 30px;
    -webkit-appearance:none;
    border:none;
    box-shadow: 1px 1px 5px 0px #9695956e;
    resize: none;
}

.form textarea:focus{
    outline: none;
    border: 2px solid #4098e0;
    border-radius: 5px;
}

.show-box{
    margin: 20px;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px 0px rgba(141, 140, 140, 0.75);
    border-radius: 5px;
    padding: 30px, 30px;
    width: 90%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.course-content{
    display: flex;
}

.lesson-list{
    width:70%;
}

.lesson-list a{
    color: rgb(118, 172, 243);  
    cursor: pointer;
}

.lesson-list a:hover{
    color: rgb(64, 152, 224);  
}


.info, .lesson-list{
    margin-left: 30px;
}

.lesson-list ol li{
    height: 20px;
    width: 400px;
    background-color: rgba(230, 230, 230, 0.7);
    padding: 10px;
    vertical-align: middle;
    margin-top: 10px;
    border-radius: 5px;
}

.lesson-list ol li a{
    height:100%;
    width:100%;
    color: #333;
}
.lesson-list ol li a:hover, .lesson-list a{
   background-color:transparent;
   color: #333;
}

.lesson-list ol li:hover{
   background-color: rgb(118, 172, 243);
   font-weight: bold;
}

.student-list ul li{
    list-style: none;
}

#enroll {
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: rgb(132, 169, 236);
    border-radius: 5px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.student-name {
    list-style-type: none;
    padding-bottom: 10px;
}

.lesson-list-item:hover {
    color: rgb(0, 54, 0);
}

.lesson-list-item-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trash-icon{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: none;
    font-size: 20px;
    color: rgb(157, 183, 233);
    transition: 100ms;
}

.trash-icon:hover{
    cursor: pointer;
    color: rgb(36, 93, 201);
}

.course-author {
    font-size: 28px;
}

.course-divider-1 {
    width: 700px;
    border-bottom: solid rgb(64, 152, 224);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.course-divider-2 {
    width: 700px;
    border-bottom: solid rgb(64, 152, 224);
    padding-bottom: 40px;
    margin-bottom: 60px;
}

.course-description-header {
    font-weight: 500;
}

.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal-interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
}

.modal-back .delete-options{
    margin: 10px;
}

.modal-back .delete-options button,
.delete-course-btn{
    background-color: rgb(236, 132, 132);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 100px;
    box-sizing: border-box;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal-back .delete-options button:first-child:hover,
.delete-course-btn:hover{
    cursor: pointer;
    background-color: rgb(156, 16, 16);
}

.modal-back .delete-options button:last-child{
    background-color: rgb(182, 182, 182);
}

.modal-back .delete-options button:last-child:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}

.vid-thumb-box{
    width: 50%;
    height: 100%;
    padding: 0px 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vid-thumb-background{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 260px;
}

#vid-thumb-background:hover, 
.vid-thumb-back:hover{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.vid-thumb-preview:hover{
    cursor: pointer;
}

#file-upload{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.vid-thumb-back{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 235px;
    padding: 10px;
    border: 2px dashed lightgray;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    position: relative;
}

.form-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-details{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.vid-thumb-box i{
    font-size: 40px;
    color: rgb(185, 185, 185);
}

.vid-thumb-preview img{
    max-width: 320px;
    max-height: 100%;
}

.vid-thumb-preview .image-load{
    animation: fadeIn 700ms;
    -webkit-animation: fadeIn 700ms;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
