.lesson-show-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.video-tag{
    border-radius: 6px 6px 6px 6px;
    margin-top: 2%;
    max-width: 95%;
    min-width: 90%;
    outline: none;
}
.lesson-info{
    
    border: 1px solid white;
    border-radius: 6px 6px 0px 0px;
    width: 90%;
    background-color: rgb(190, 211, 250);
    height: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lesson-info-title{
    padding: 0px 20px;
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lesson-info-instructor{
    padding: 0px 20px;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lesson-info-desc{
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0px;
    padding: 0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment-box{
    width: 90%;
    background-color: rgb(190, 211, 250);
    height: fit-content;
    border-radius: 0px 0px 6px 6px;
}
.comment{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    height: fit-content;
    padding: 20px;
    margin-bottom: 0px;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment-group{
    background-color: rgb(190, 211, 250);
    border-radius: 4px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment-heatmap{
    display: flex;
    /* background-color: rgb(190, 211, 250); */
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.heatmap-canvas{
    width: calc(100% - 30px);
    height: auto;
    
}
.response{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    padding: 20px;
    margin-top: 3px;
    margin-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.response-info{

}
.response-video-button{
    background-color: rgb(132, 169, 236);
    border-radius: 5px;
    align-content: center;
    margin-left: 25px;
    width: 25px;
    height: 25px;
    border: none;
    color: white;
    font-weight: 800;
    outline: none;
}
.response-video video{
    max-width: calc(100% - 50px);
    min-width: calc(100% - 50px);
    outline: none;
    margin: 0px 25px;
}

.comment-input{
   outline: none;
   border: 1px solid rgb(132, 169, 236);
   border-style: solid;
   border-radius: 5px;
   margin-right: 3%;
   padding: 0px;
   width: 60%;
   min-width: 300px;
   height: 50px;
}   
.reply-buttons form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}
.comment-button{
    margin-top: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 36%;
    background-color: rgb(132, 169, 236);
    outline: none;
    height: 25px;
}
form .comment-button{
    margin-top: 5px;
}
.comment-buttons form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}
.comment-buttons{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.reply-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px;
    width : 100%;
}
.comment-button:hover{
color: rgb(132, 169, 236);
background-color: white;
border: 1px solid rgb(132, 169, 236);
}