.body{
    min-width: 800px;
}

.navbar-placeholder{
    width: 100%;
    height: 80px;
}

.navbar-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    box-shadow: 0px 1px 10px 0px #c4c4c46e;
    z-index: 500;
}

.navbar-container h1{
    margin: 0px;
    padding: 10px;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks a, 
.logout{
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: rgb(132, 169, 236);
    border-radius: 5px;
    color: white;
    font-weight: 800;
}

a{
    text-decoration: none;
    white-space: nowrap;
}

a:hover{
    cursor: pointer;
    background-color: rgb(64, 88, 224);
}

a:visited{
    color: white;
}

.logout{
    background-color: lightblue;
    border: none;
    font-weight: 800;
    font-size: inherit;
}

.logout:hover{
    cursor: pointer;
    background-color: darkblue;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks .my-courses{
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navlinks .user-courses .courses-arrow {
    margin-left: 0px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(132, 169, 236);
    border-left: 1px solid lightgrey;
    font-size: 15px;
    padding: 10px;
}

.course-dropdown{
    display: none;
}

.dropdown{
    position: relative;
}

.show-list{
    display: block;
}

.dropdown-list{
    min-width: 160px;
    width: auto;
    position: absolute;
    z-index: 100;
    padding: 0;
    top: 22px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 0px #9695956e;
}

.dropdown-list li{
    list-style: none;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.dropdown-list li:hover,
.create-option a:hover{
    background-color: rgba(231, 231, 231, 0.7);
    cursor: pointer;
}

.dropdown-list > li:last-child{
    border-bottom: none;
}

.dropdown-list > li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-list > li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-courses{
    display: flex;
    position: relative;
}

button:focus{
    outline: none;
}

.dropdown-list .dropdown-item,
.dropdown-list .create-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.dropdown-list .create-option i{
    padding-right: 10px;
    color: rgb(64, 152, 224);
}