.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 700px;
}

.bg-session-image{
    background-image: url("https://expand-dev.s3-us-west-1.amazonaws.com/images/books-angle.jpg");
    background-size: auto;
    min-height: 700px;
    width: 100%;
    opacity: 0.9;
    z-index: -10;
    position: absolute;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
    height: 700px;
    z-index: 50;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}

.form h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.form input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
}

.form input:focus{
    outline: none;
    border: 2px solid #4098e0;
    border-radius: 5px;
}

.form .button,
.navlinks .button{
    background-color: rgb(118, 172, 243);
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    font-size: inherit;
    min-width: 100px;
}

.form .button:hover,
.navlinks .button:hover{
    background-color: rgb(56, 102, 230);
    cursor: pointer;
}

.form #demo{
    margin-top: 10px;
    text-align: center;
}

.errors{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: red;
}

.errors li{
    list-style: none;
    padding: 10px;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.status h3{
    margin: 0px;
    padding: 10px;
    font-weight: 500;
}

.status-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .status-options label{
    margin: 0px;
    padding: 7px;
}

.promo-text{
    color: white;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    margin: 40px;
}

@media only screen and (max-width: 600px) {
  .promo-text {
    display: none;
  }

  .form-container{
      justify-content: center;
  }

  .form{
      height: auto;
      border-radius: 5px;
  }

  .status-options{
      flex-direction: column;
      align-items: flex-start;
  }
}